<div class="mt-4">
  <h3>Khoa hoc cua toi</h3>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Ten khoa hoc</th>
        <th scope="col">Trinh do</th>
        <th scope="col">Thoi gian tao</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.lever}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sua</a>
            <a
              href="/"
              class="btn btn-link"
              data-toggle="modal"
              data-target="#exampleModal"
              data-id="{{this._id}}"
            >Xoa</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<div id="exampleModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Course</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnDeleteCourse" class="btn btn-danger">Delete</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Close</button>
      </div>
    </div>
  </div>
</div>

<form name="delete-course-form" method="POST"></form>

<script>
  document.addEventListener('DOMContentLoaded', function (){
      var courseId;
      var deleteForm = document.forms['delete-course-form'];
      var btnDeleteCourse = document.getElementById('btnDeleteCourse');


      $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        courseId = id;
      });

      btnDeleteCourse.onclick = function (){
          deleteForm.action = '/courses/' + courseId + '?_method=DELETE';
          deleteForm.submit();
      }
  })
</script>